<!DOCTYPE html>
<html>
	<head>
		<title>Cloud Chat</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.message {
				white-space: pre-wrap;
			}

			#messages {
				max-height: 400px;
				overflow: scroll;
				border: 1px black solid;
			}

			.message img {
				max-width: 350px;
				max-height: 350px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="username">Username</label>
						<div class="input-group">
							<input class="form-control" type="text" name="username" id="username" placeholder="Username">
							 <div class="input-group-btn">
								 <a id="usernameBtn" href="#" class="btn btn-primary">Update</a>
							 </div>
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<form id="imageForm">
						<input type="file" id="image" name="image" disabled>
					</form>
					<div class="input-group">
						<input type="text" class="form-control" id="message" name="message" disabled>
						<div class="input-group-btn">
							<a id="sendMessage" href="#" class="btn btn-primary" disabled>Send</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label for="messages">Received Messages</label>
					<p id="messages">
					</p>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" type="application/javascript"></script>
		<script type="application/javascript">
			$(function() {
				var $messages = $('#messages')
					, $usernameBtn = $('#usernameBtn')
					, $usernameInput = $('#username')
					, $sendMessageBtn = $('#sendMessage')
					, $sendMessageInput = $('#message')
					, conn
					, $image = $('#image')
					, $imageForm = $('#imageForm')
					, username = ''
				;

				$image.change(function() {
					var data = new FormData($imageForm[0]);
					$.ajax({
						url: '/media?username=' + username,
						type: 'POST',
						data: data,
						success: function() {
							$image.val('');
						},
						cache: false,
						contentType: false,
						processData: false
					});
				})

				$usernameBtn.on('click', function() {
					if (!$usernameInput.val()) {
						alert('Enter a username');
						return false
					}

					username = encodeURIComponent($usernameInput.val());

					var loc = window.location, newUri;
					if (loc.protocol === "https:") {
							newUri = "wss:";
					} else {
							newUri = "ws:";
					}
					newUri += "//" + loc.host + "/ws?username=" + username;

					conn = new WebSocket(newUri);
					conn.onmessage = function(e) {
						appendMessage(JSON.parse(e.data));
					}

					$sendMessageInput.removeAttr('disabled');
					$sendMessageBtn.removeAttr('disabled');
					$image.removeAttr('disabled');

					return false;
				})


				$sendMessageBtn.on('click', function() {
					if (!conn || !$sendMessageInput.val()) {
						return false;
					}

					conn.send($sendMessageInput.val())
					$sendMessageInput.val('')

					return false;
				});

				// Fetch history
				$.get('/history', function(data) {
					data = data.reverse();

					data.forEach(appendMessage);
				});

				var messageCount = 0;
				function appendMessage(message) {
					var textarea = $messages[0]
						, $message = $('<p>')
						.addClass('message')
						.text(message.username + " @ " + message.timestamp + ":\n" + message.message);

					if (message.media_id) {
						var url = "https://s3-us-west-2.amazonaws.com/pcc-final-project-media/"
						$img = $('<img>').attr('src', url + "thumb/" + message.media_id + ".png");
						$img = $('<a>').attr('href', url + "img/" + message.media_id + ".png").append($img);
						$message.append($img);
					}

					if (messageCount > 0) {
						$messages.append('<hr>');
					}

					$messages.append($message);
					messageCount++;

					textarea.scrollTop = textarea.scrollHeight;
				}
			});
		</script>
	</body>
</html>
